/* The alert message box */
body{
    background-color: aqua;
}
.alert {
    padding: 20px;
    margin-bottom: 15px;
    
  }
  .alert a{
    font-size: 25px;
    color: black;
  }
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: left;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: green;
  }